<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Html Generated</title>
    <meta name="description" content="Figma htmlGenerator">
    <meta name="Jose Camargo, Antony Yeguez, Greeberth Linares" content="htmlGenerator">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        body {background: #E5E5E5; }
    </style>
</head>
<body>
    <div class="e55_196">
        <div class="e55_197">
            <div class="e55_198"></div>
            <div class="e55_199"></div>
            <div class="e60_2"></div>
            <div class="e55_200">
                <span class="e55_201">We are students with the purpose of learning about design and creation of Web pages, who strive to advance in their career, this website is a sample of that effort, despite being a very basic prototype and with things to improve we offer the best we can give in the agreed time to create a functional and solid model.
                </span>
                <span class="e60_3">Site design and coding: José Camargo
                Security and registration system: Antony Yeguez and Greeberth Linares</span>
            </div>
        </div>
        <div class="e55_214">
            <div class="e55_215" id="home-button"></div>
            <span class="e55_216"><a href="{{ url_for('logueado') }}" id="home-link" style="text-decoration: none; color: inherit;">Home</a></span>
            <div class="e55_217"></div>
        </div>
    </div>

</body>
</html>
