<html lang="en">
  <head>
    <meta charset="utf-8">
  
    <title>Html Generated</title>
    <meta name="description" content="Figma htmlGenerator">
    <meta name="Jose Camargo, Antony Yeguez, Greeberth Linares" content="htmlGenerator">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    
    <style>
      /*
        Figma Background for illustrative/preview purposes only.
        You can remove this style tag with no consequence
      */
      body {background: #E5E5E5; }
    </style>
  
  </head>
  
  <body>
    <div class="e209_218">
      <div class="e209_219">
        <div class="e209_220"></div>
        <div class="e209_221"></div>
        <div class="e209_222">
          <span class="e209_223">This hypersensitivity to odors is called osmophobia and is common in people with chronic migraines.</span>
          <span class="e209_224">There are some people for whom strong odors such as those from perfumes and cleaning products can cause headaches. A study involving 400 people suffering from migraine or tension headaches found that strong odors, especially perfumes, often triggered headaches. If you think you may be sensitive to odors, avoiding perfumes, cigarette smoke, and strongly scented foods may help decrease the likelihood of developing a migraine.</span>
        </div>
        <div class="e209_225">
          <div class="e209_226"></div>
          <a href="{{ url_for('second_page') }}"><span class="e209_227">Previous</span></a>
          <div class="e209_228"></div>
        </div>
      </div>
      <div class="e209_239">
        <div class="e209_240"></div>
        <div class="e209_241"></div>
        <div class="e209_242"></div>
        <span class="e209_243">Avoid strong odors</span>
      </div>
    </div>
  </body>
</html>
