<html lang="en">
  <head>
    <meta charset="utf-8">
  
    <title>Html Generated</title>
    <meta name="description" content="Figma htmlGenerator">
    <meta name="Jose Camargo, Antony Yeguez, Greeberth Linares" content="htmlGenerator">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    
    <style>
      /*
        Figma Background for illustrative/preview purposes only.
        You can remove this style tag with no consequence
      */
      body {background: #E5E5E5; }
    </style>
  
  </head>
  
  <body>
    <div class="e209_244">
      <div class="e209_245">
        <div class="e209_246"></div>
        <div class="e209_247"></div>
        <div class="e209_248">
          <span class="e209_249">Some herbs such as feverfew and butterbur may reduce headache symptoms.</span>
          <span class="e209_250">Feverfew is a flowering plant that has anti-inflammatory properties. Some studies suggest that taking feverfew supplements in doses of 50-150 mg per day may reduce the frequency of headache pain. However, other studies have found no benefit. Butterbur root comes from a perennial shrub native to Germany and, like feverfew, has anti-inflammatory effects. Several studies have shown that taking butterbur extract in doses of 50-150 mg reduces headache symptoms in both adults and children.</span>
        </div>
        <div class="e209_251">
          <div class="e209_252"></div>
          <a href="{{ url_for('third_page') }}"><span class="e209_253">Previous</span></a>
          <div class="e209_254"></div>
        </div>
      </div>
      <div class="e209_260">
        <div class="e209_261"></div>
        <div class="e209_262"></div>
        <div class="e209_263"></div>
        <span class="e209_264">Try herbal remedies</span>
      </div>
    </div>
  </body>
</html>
