<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Html Generated</title>
    <meta name="description" content="Figma htmlGenerator">
    <meta name="Jose Camargo, Antony Yeguez, Greeberth Linares" content="htmlGenerator">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        body {background: #E5E5E5; }
    </style>
</head>
<body>
    <div class="e208_9">
        <div class="e208_10">
            <div class="e208_11"></div>
            <div class="e208_12"></div>
            <div class="e208_13">
                <span class="e208_14">Choose with a click the home remedy you want to be informed about.</span>
            </div>
        </div>
        <div class="e208_15">
            <div class="e208_16"></div>
            <div class="e208_17"></div>
            <div class="e208_18">
                <span class="e208_19">Choose with a click the home remedy you want to be informed about.</span>
            </div>
        </div>
        <div class="e208_20">
            <div class="e208_21"></div>
            <div class="e208_22"></div>
            <div class="e208_23"></div>
            <a href="{{ url_for('first_article3') }}"><span class="e208_24">Try herbal remedies</span></a>
        </div>
        <div class="e208_25">
            <div class="e208_26"></div>
            <div class="e208_27"></div>
            <div class="e208_28"></div>
            <a href="{{ url_for('second_article3') }}"><span class="e208_29">Avoid nitrates and nitrites</span></a>
        </div>
        <div class="e208_30">
            <div class="e208_31"></div>
            <div class="e208_32"></div>
            <div class="e208_33"></div>
            <a href="{{ url_for('third_article3') }}"><span class="e208_34">Drink ginger tea</span></a>
        </div>
        <div class="e208_35">
            <div class="e208_36"></div>
            <div class="e208_37"></div>
            <div class="e208_38"></div>
            <a href="{{ url_for('four_article3') }}"><span class="e208_39">Exercise</span></a>
        </div>
        <div class="e208_44">
            <div class="e208_45"></div>
            <a href="{{ url_for('logueado') }}"class="e208_46">Home</a></span>
            <div class="e208_47"></div>
        </div>
        <div class="e208_48">
            <div class="e208_49"></div>
            <a href="{{ url_for('second_page') }}" class="e208_50">Previous</a>
            <div class="e208_51"></div>
        </div>
    </div>
</body>
</html>
