<html lang="en">
  <head>
    <meta charset="utf-8">
  
    <title>Html Generated</title>
    <meta name="description" content="Figma htmlGenerator">
    <meta name="Jose Camargo, Antony Yeguez, Greeberth Linares" content="htmlGenerator">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    
    <style>
      /*
        Figma Background for illustrative/preview purposes only.
        You can remove this style tag with no consequence
      */
      body {background: #E5E5E5; }
    </style>
  
  </head>
  
  <body>
    <div class="e209_176">
      <div class="e209_177">
        <div class="e209_178"></div>
        <div class="e209_179"></div>
        <div class="e209_180">
          <span class="e209_181">Studies suggest that intolerance to certain foods may trigger headaches in some people.</span>
          <span class="e209_182">To find out if a certain food is causing frequent headaches, try an elimination diet that cuts out foods commonly linked to headache symptoms. Migraine sufferers report that aged cheese, alcohol, chocolate, citrus fruits, and coffee are among the most frequently reported food triggers. In one small study, a 12-week elimination diet decreased the number of migraine headaches people experienced. These effects began at four weeks.</span>
        </div>
        <div class="e209_183">
          <div class="e209_184"></div>
          <a href="{{ url_for('second_page') }}"><span class="e209_185">Previous</span></a>
          <div class="e209_186"></div>
        </div>
      </div>
      <div class="e209_192">
        <div class="e209_193"></div>
        <div class="e209_194"></div>
        <div class="e209_195"></div>
        <span class="e209_196">Try an elimination diet</span>
      </div>
    </div>
  </body>
</html>
