<html lang="en">
  <head>
    <meta charset="utf-8">
  
    <title>Html Generated</title>
    <meta name="description" content="Figma htmlGenerator">
    <meta name="Jose Camargo, Antony Yeguez, Greeberth Linares" content="htmlGenerator">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    
    <style>
      /*
        Figma Background for illustrative/preview purposes only.
        You can remove this style tag with no consequence
      */
      body {background: #E5E5E5; }
    </style>
  
  </head>
  
  <body>
    <div class="e209_155">
      <div class="e209_156">
        <div class="e209_157"></div>
        <div class="e209_158"></div>
        <div class="e209_159">
          <span class="e209_160">Some B vitamins may have a protective effect against headaches.</span>
          <span class="e209_161">B vitamins are a group of water-soluble micronutrients that have many important functions in the body. For example, they contribute to the synthesis of neurotransmitters and help convert food into energy. Several studies have shown that B vitamin supplements riboflavin (B2), folic acid, B12, and pyridoxine (B6) can reduce headache symptoms. B vitamins contain all eight B vitamins and are a safe and cost-effective way to naturally treat headache symptoms. Because they are water-soluble and any excess will be eliminated through the urine, B vitamins are considered safe to take on a regular basis.</span>
        </div>
        <div class="e209_162">
          <div class="e209_163"></div>
          <a href="{{ url_for('second_page') }}"><span class="e209_164">Previous</span></a>
          <div class="e209_165"></div>
        </div>
      </div>
      <div class="e209_171">
        <div class="e209_172"></div>
        <div class="e209_173"></div>
        <div class="e209_174"></div>
        <span class="e209_175">Try taking vitamin B</span>
      </div>
    </div>
  </body>
</html>
