<html lang="en">
  <head>
    <meta charset="utf-8">
  
    <title>Html Generated</title>
    <meta name="description" content="Figma htmlGenerator">
    <meta name="Jose Camargo, Antony Yeguez, Greeberth Linares" content="htmlGenerator">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    
    <style>
      /*
        Figma Background for illustrative/preview purposes only.
        You can remove this style tag with no consequence
      */
      body {background: #E5E5E5; }
    </style>
  
  </head>
  
  <body>
    <div class="e209_134">
      <div class="e209_135">
        <div class="e209_136"></div>
        <div class="e209_137"></div>
        <div class="e209_138">
          <span class="e209_139">There are many ways that lack of sleep affects health. In some people, it can cause headaches.</span>
          <span class="e209_140">A study compared the frequency and intensity of headache pain in those who slept less than six hours per night and those who slept more. It was found that those who slept less had more frequent and intense headaches. However, it has also been shown that too much sleep can trigger headaches. Therefore, an adequate amount of rest is important for those seeking natural headache prevention. For maximum benefits, keep in mind that the "sweet spot" is seven to nine hours of sleep per night.</span>
        </div>
        <div class="e209_141">
          <div class="e209_142"></div>
          <a href="{{ url_for('remedies') }}"><span class="e209_143">Previous</span></a>
          <div class="e209_144"></div>
        </div>
      </div>
      <div class="e209_150">
        <div class="e209_151"></div>
        <div class="e209_152"></div>
        <div class="e209_153"></div>
        <span class="e209_154">Get enough sleep</span>
      </div>
    </div>
  </body>
</html>
