<html lang="en">
  <head>
    <meta charset="utf-8">
  
    <title>Html Generated</title>
    <meta name="description" content="Figma htmlGenerator">
    <meta name="Jose Camargo, Antony Yeguez, Greeberth Linares" content="htmlGenerator">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    
    <style>
      /*
        Figma Background for illustrative/preview purposes only.
        You can remove this style tag with no consequence
      */
      body {background: #E5E5E5; }
    </style>
  
  </head>
  
  <body>
    <div class="e209_286">
      <div class="e209_287">
        <div class="e209_288"></div>
        <div class="e209_289"></div>
        <div class="e209_290">
          <span class="e209_291">Ginger root contains many beneficial compounds, including antioxidants and anti-inflammatory substances.</span>
          <span class="e209_292">A study in 100 people with chronic migraines found that 250 mg of ginger powder was as effective as conventional headache sumatriptan in reducing migraine pain. In addition, ginger helps reduce nausea and vomiting, common symptoms associated with severe headaches. You can take powdered ginger in capsule form or prepare a concentrated tea with fresh ginger root.</span>
        </div>
        <div class="e209_293">
          <div class="e209_294"></div>
          <a href="{{ url_for('third_page') }}"><span class="e209_295">Previous</span></a>
          <div class="e209_296"></div>
        </div>
      </div>
      <div class="e209_302">
        <div class="e209_303"></div>
        <div class="e209_304"></div>
        <div class="e209_305"></div>
        <span class="e209_306">Drink ginger tea</span>
      </div>
    </div>
  </body>
</html>
