<html lang="en">
  <head>
    <meta charset="utf-8">
  
    <title>Html Generated</title>
    <meta name="description" content="Figma htmlGenerator">
    <meta name="Jose Camargo, Antony Yeguez, Greeberth Linares" content="htmlGenerator">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    
    <style>
      /*
        Figma Background for illustrative/preview purposes only.
        You can remove this style tag with no consequence
      */
      body {background: #E5E5E5; }
    </style>
  
  </head>
  
  <body>
    <div class="e209_265">
      <div class="e209_266">
        <div class="e209_267"></div>
        <div class="e209_268"></div>
        <div class="e209_269">
          <span class="e209_270">Nitrites can trigger headaches by causing dilation of blood vessels.</span>
          <span class="e209_271">Nitrates and nitrites are common food preservatives added to sausages, sausages, and bacon to keep them fresh by preventing bacterial growth. Foods containing them have been shown to cause headaches in some people. To minimize your exposure to nitrites, limit the amount of processed meats in your diet and whenever possible, choose nitrate-free products.</span>
        </div>
        <div class="e209_272">
          <div class="e209_273"></div>
          <a href="{{ url_for('third_page') }}"><span class="e209_274">Previous</span></a>
          <div class="e209_275"></div>
        </div>
      </div>
      <div class="e209_281">
        <div class="e209_282"></div>
        <div class="e209_283"></div>
        <div class="e209_284"></div>
        <span class="e209_285">Avoid nitrates and nitrites</span>
      </div>
    </div>
  </body>
</html>
