<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Html Generated</title>
  <meta name="description" content="Figma htmlGenerator">
  <meta name="Jose Camargo, Antony Yeguez, Greeberth Linares" content="htmlGenerator">
  <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Outfit&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <style>
        body {
      background: #E5E5E5;
    }

    .e210_348 {
      position: absolute;
      top: 20px;
      right: -200px;
      background: none;
      border: none;
      font-size: 18px;
      color: #fff;
    }

    .e210_348 a {
      text-decoration: none;
      color: inherit;
    }
      body {
      background: #E5E5E5;
    }

    .e210_348 a, .e210_341 a, .e210_342, .e210_344, .e210_346 a, .e210_347 a {
      color: #fff;
    }
  </style>
</head>

<body>
  <div class="e210_329">
    <div class="e210_330">
      <div class="e210_331"></div>
      <div class="e210_332"></div>
      <div class="e210_333"></div>
      <div class="e210_334"></div>
      <div class="e210_337"></div>
      <div class="e210_338"></div>
      <div class="e210_339"></div>
      <div class="e210_340">
        <span class="e210_341"><a href="{{ url_for('remedies') }}">See the Remedies</a></span>
        <span class="e210_342">Free Head</span>
        <span class="e210_343">It is important to know how to get rid of headaches without pills or in a natural way so that you do not have to constantly resort to medication</span>
        <span class="e210_344">Here are the best home remedies for headaches</span>
        <span class="e210_346"><a href="{{ url_for('about') }}">About Us</a></span>
        <span class="e210_347"><a href="{{ url_for('contact') }}">Contact</a></span>
        <button class="e210_348">
          <a href="{{ url_for('logout') }}">logout</a>
        </button>
      </div>
    </div>
  </div>
</body>

</html>
