<html lang="en">
  <head>
    <meta charset="utf-8">
  
    <title>Html Generated</title>
    <meta name="description" content="Figma htmlGenerator">
    <meta name="Jose Camargo, Antony Yeguez, Greeberth Linares" content="htmlGenerator">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    
    <style>
      /*
        Figma Background for illustrative/preview purposes only.
        You can remove this style tag with no consequence
      */
      body {background: #E5E5E5; }
    </style>
  
  </head>
  
  <body>
    <div class="e208_61">
      <div class="e208_62">
        <div class="e208_63"></div>
        <div class="e208_64"></div>
        <div class="e208_65">
          <span class="e208_66">It is important to know the most common types of headaches.</span>
          <span class="e208_85">Headaches are usually caused by changes in the blood vessels of the brain, the nerves surrounding the brain, or the muscles of the neck and scalp. Migraine: a type of severe headache that is usually throbbing and one-sided. Migraine headaches may also be accompanied by nausea, vomiting, and sensitivity to light and sound. Tension headache: This is the most common type of headache. It is characterized by a dull, oppressive pain that affects both sides of the head. Sinus headache is caused by inflammation of the sinuses, usually associated with an infection. Sinus headache is usually throbbing and localized in the forehead, cheeks, or nose.</span>
        </div>
        <div class="e208_86">
          <div class="e208_87"></div>
          <a href="{{ url_for('remedies') }}"><span class="e208_88">Previous</span></a>
          <div class="e208_89"></div>
        </div>
      </div>
      <div class="e208_80">
        <div class="e208_81"></div>
        <div class="e208_82"></div>
        <div class="e208_83"></div>
        <span class="e208_84">Types of headaches</span>
      </div>
    </div>
  </body>
</html>
