<html lang="en">
  <head>
    <meta charset="utf-8">
  
    <title>Html Generated</title>
    <meta name="description" content="Figma htmlGenerator">
    <meta name="Jose Camargo, Antony Yeguez, Greeberth Linares" content="htmlGenerator">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    
    <style>
      /*
        Figma Background for illustrative/preview purposes only.
        You can remove this style tag with no consequence
      */
      body {background: #E5E5E5; }
    </style>
  
  </head>
  
  <body>
    <div class="e209_308">
      <div class="e209_309">
        <div class="e209_310"></div>
        <div class="e209_311"></div>
        <div class="e209_312">
          <span class="e209_313">One of the simplest ways to reduce the frequency and intensity of headache pain is to be physically active.</span>
          <span class="e209_314">A study of 91 people found that 40 minutes of indoor stationary cycling three times a week was more effective than relaxation techniques in reducing headache frequency. Another large study involving more than 92,000 people showed that a low level of physical activity was clearly related to an increased risk of headaches. There are many ways to increase your activity level, but one of the easiest methods is to simply increase your number of steps during the day.</span>
        </div>
        <div class="e209_315">
          <div class="e209_316"></div>
          <a href="{{ url_for('third_page') }}"><span class="e209_317">Previous</span></a>
          <div class="e209_318"></div>
        </div>
      </div>
      <div class="e209_324">
        <div class="e209_325"></div>
        <div class="e209_326"></div>
        <div class="e209_327"></div>
        <span class="e209_328">Exercise</span>
      </div>
    </div>
  </body>
</html>
