<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Html Generated</title>
    <meta name="description" content="Figma htmlGenerator">
    <meta name="Jose Camargo, Antony Yeguez, Greeberth Linares" content="htmlGenerator">
    <link href="https fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        body {background: #E5E5E5; }
    </style>
</head>
<body>
    <div class="e55_166">
        <div class="e55_167">
            <div class="e55_168"></div>
            <div class="e55_169"></div>
            <div class="e55_170">
                <span class="e55_171">Choose Among the Different Contacts to Contact Us</span>
            </div>
        </div>
        <div class="e55_172">
            <div class="e55_173"></div>
            <span class="e55_174">Gmail: examplegmail.com</span>
        </div>
        <div class="e55_176">
            <div class="e55_177"></div>
            <span class="e55_178">WhatsApp: 1234567890</span>
        </div>
        <div class="e55_180">
            <div class="e55_181"></div>
            <span class="e55_182">Instagram: Exam_ple</span>
        </div>
        <div class="e55_188">
            <div class="e55_189" id="home-button"></div>
            <span class="e55_216"><a href="{{ url_for('logueado') }}" id="home-link" style="text-decoration: none; color: inherit;">Home</a></span>
            <div class="e55_191"></div>
        </div>
    </div>

 
</body>
</html>
