.8_3 { 
	overflow:hidden;
}
.e8_3 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:1080px;
	position:absolute;
}
.e1_17 { 
	width:1922px;
	height:1080px;
	position:absolute;
	left:-2px;
	top:0px;
}
.e3_2 { 
	width:1920px;
	height:1080px;
	position:absolute;
	left:2px;
	top:0px;
	background-image:url(../static/rectangle_1.png);
		background-repeat:no-repeat;
	background-size:cover;
}
.e1_4 { 
	background-color:rgba(0, 86.70000851154327, 255, 1);
	width:543px;
	height:114px;
	position:absolute;
	left:654px;
	top:706px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
.e1_10 { 
	background-color:rgba(127.14990198612213, 0.9429687412921339, 226.31249696016312, 1);
	width:1920px;
	height:198px;
	position:absolute;
	left:2px;
	top:0px;
}
.e203_3 { 
	background-color:rgba(127.00000002980232, 1.0000000591389835, 226.0000017285347, 0.699999988079071);
	width:1920px;
	height:56px;
	position:absolute;
	left:0px;
	top:1024px;
}
.e1_12 { 
	background-color:rgba(0, 86.70000851154327, 255, 1);
	width:236px;
	height:92px;
	position:absolute;
	left:92px;
	top:80px;
}
.e3_3 { 
	background-color:rgba(0, 86.70000851154327, 255, 1);
	width:287px;
	height:92px;
	position:absolute;
	left:402px;
	top:80px;
}
.e9_8 { 
	background-color:rgba(0, 86.70000851154327, 255, 1);
	width:209px;
	height:17px;
	position:absolute;
	left:1308px;
	top:158px;
}
.e203_2 { 
	background-color:rgba(0, 86.70000851154327, 255, 1);
	width:439px;
	height:18px;
	position:absolute;
	left:725px;
	top:388px;
}
.e9_9 { 
	background-color:rgba(1.0000000591389835, 77.00000301003456, 224.000001847744, 1);
	width:258px;
	height:17px;
	position:absolute;
	left:1548px;
	top:158px;
}
.e9_21 { 
	width:1680px;
	height:800px;
	position:absolute;
	left:126px;
	top:0px;
}
.e1_5 { 
	color:rgba(255, 255, 255, 1);
	width:531px;
	height:76px;
	position:absolute;
	left:540px;
	top:724px;
	font-family:Nunito;
	text-align:left;
	font-size:60px;
	letter-spacing:0;
}
.e1_8 { 
	color:rgba(255, 255, 255, 1);
	width:409px;
	height:96px;
	position:absolute;
	left:629px;
	top:292px;
	font-family:Nunito;
	text-align:left;
	font-size:80px;
	letter-spacing:0;
}
.e3_16 { 
	color:rgba(255, 255, 255, 1);
	width:626px;
	height:275px;
	position:absolute;
	left:528px;
	top:406px;
	font-family:Nunito;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e1_7 { 
	color:rgba(0, 86.70000851154327, 255, 1);
	width:1133px;
	height:58px;
	position:absolute;
	left:316px;
	top:0px;
	font-family:Outfit;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e1_13 { 
	color:rgba(255, 255, 255, 1);
	width:162px;
	height:81px;
	position:absolute;
	left:0px;
	top:94px;
	font-family:Nunito;
	text-align:left;
	font-size:60px;
	letter-spacing:0;
}
.e9_5 { 
	color:rgba(0, 86.70000851154327, 255, 1);
	width:243px;
	height:80px;
	position:absolute;
	left:1437px;
	top:100px;
	font-family:Nunito;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e9_7 { 
	color:rgba(0, 86.70000851154327, 255, 1);
	width:196px;
	height:63px;
	position:absolute;
	left:1195px;
	top:95px;
	font-family:Nunito;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e1_16 { 
	color:rgba(255, 255, 255, 1);
	width:239px;
	height:65px;
	position:absolute;
	left:312px;
	top:94px;
	font-family:Nunito;
	text-align:left;
	font-size:55px;
	letter-spacing:0;
}
.55_166 { 
	overflow:hidden;
}
.e55_166 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:1080px;
	position:absolute;
}
.e55_167 { 
	width:2070px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
}
.e55_168 { 
	width:1920px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(../static/rectangle_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e55_169 { 
	background-color:rgba(28.000000230968, 21.000000648200512, 211.00000262260437, 0.699999988079071);
	width:1920px;
	height:95px;
	position:absolute;
	left:0px;
	top:0px;
}
.e55_170 { 
	width:1834px;
	height:58px;
	position:absolute;
	left:236px;
	top:18px;
}
.e55_171 { 
	color:rgba(255, 255, 255, 1);
	width:1834px;
	height:58px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Nunito;
	text-align:left;
	font-size:55px;
	letter-spacing:0;
}
.e55_172 { 
	width:1018.776611328125px;
	height:143px;
	position:absolute;
	left:90px;
	top:333px;
}
.e55_173 { 
	background-color:rgba(28.000000230968, 21.000000648200512, 211.00000262260437, 0.6000000238418579);
	width:1018.776611328125px;
	height:143px;
	position:absolute;
	left:0px;
	top:0px;
}
.55_173 { 
	border:7px solid rgba(28.000000230968, 21.000000648200512, 211.00000262260437, 1);
}
.e55_174 { 
	color:rgba(255, 255, 255, 1);
	width:757px;
	height:81px;
	position:absolute;
	left:103px;
	top:38px;
	font-family:Nunito;
	text-align:left;
	font-size:60px;
	letter-spacing:0;
}
.e55_176 { 
	width:1018.776611328125px;
	height:143px;
	position:absolute;
	left:90px;
	top:533px;
}
.e55_177 { 
	background-color:rgba(28.000000230968, 21.000000648200512, 211.00000262260437, 0.6000000238418579);
	width:1018.776611328125px;
	height:143px;
	position:absolute;
	left:0px;
	top:0px;
}
.55_177 { 
	border:7px solid rgba(28.000000230968, 21.000000648200512, 211.00000262260437, 1);
}
.e55_178 { 
	color:rgba(255, 255, 255, 1);
	width:598px;
	height:67px;
	position:absolute;
	left:103px;
	top:42px;
	font-family:Nunito;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e55_180 { 
	width:1018.776611328125px;
	height:143px;
	position:absolute;
	left:90px;
	top:733px;
}
.e55_181 { 
	background-color:rgba(28.000000230968, 21.000000648200512, 211.00000262260437, 0.6000000238418579);
	width:1018.776611328125px;
	height:143px;
	position:absolute;
	left:0px;
	top:0px;
}
.55_181 { 
	border:7px solid rgba(28.000000230968, 21.000000648200512, 211.00000262260437, 1);
}
.e55_182 { 
	color:rgba(255, 255, 255, 1);
	width:649px;
	height:85px;
	position:absolute;
	left:120px;
	top:41px;
	font-family:Nunito;
	text-align:left;
	font-size:60px;
	letter-spacing:0;
}
.e55_188 { 
	width:435px;
	height:177px;
	position:absolute;
	left:1437px;
	top:733px;
}
.e55_189 { 
	background-color:rgba(28.000000230968, 21.000000648200512, 211.00000262260437, 0.699999988079071);
	width:435px;
	height:173px;
	position:absolute;
	left:0px;
	top:4px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.55_189 { 
	border:7px solid rgba(28.000000230968, 21.000000648200512, 211.00000262260437, 1);
}
.e55_190 { 
	color:rgba(255, 255, 255, 1);
	width:193.931884765625px;
	height:77.42657470703125px;
	position:absolute;
	left:204.7058868408203px;
	top:48.762237548828125px;
	font-family:Nunito;
	text-align:left;
	font-size:55px;
	letter-spacing:0;
}
.e55_191 { 
	width:180px;
	height:154px;
	position:absolute;
	left:25px;
	top:0px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
	background-image:url(../static/rectangle_14.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.55_196 { 
	overflow:hidden;
}
.e55_196 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:1080px;
	position:absolute;
}
.e55_197 { 
	width:1920px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
}
.e55_198 { 
	width:1920px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(../static/rectangle_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e55_199 { 
	background-color:rgba(5.078750001266599, 0, 253.93750101327896, 0.6000000238418579);
	width:1920px;
	height:388px;
	position:absolute;
	left:0px;
	top:243px;
}
.e60_2 { 
	background-color:rgba(5.078750001266599, 0, 253.93750101327896, 0.6000000238418579);
	width:1401px;
	height:194px;
	position:absolute;
	left:0px;
	top:665px;
}
.e55_200 { 
	width:1884px;
	height:598px;
	position:absolute;
	left:9px;
	top:261px;
}
.e55_201 { 
	color:rgba(255, 255, 255, 1);
	width:1803px;
	height:332px;
	position:absolute;
	left:81px;
	top:0px;
	font-family:Nunito;
	text-align:left;
	font-size:52px;
	letter-spacing:0;
}
.e60_3 { 
	color:rgba(255, 255, 255, 1);
	width:1379px;
	height:166px;
	position:absolute;
	left:0px;
	top:432px;
	font-family:Nunito;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e55_214 { 
	width:435px;
	height:183px;
	position:absolute;
	left:1437px;
	top:727px;
}
.e55_215 { 
	background-color:rgba(5.078750001266599, 0, 253.93750101327896, 0.6000000238418579);
	width:435px;
	height:173px;
	position:absolute;
	left:0px;
	top:10px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.55_215 { 
	border:7px solid rgba(5.000000176951289, 0, 254.00000005960464, 1);
}
.e55_216 { 
	color:rgba(255, 255, 255, 1);
	width:193.931884765625px;
	height:77.42657470703125px;
	position:absolute;
	left:204.7058868408203px;
	top:54.762237548828125px;
	font-family:Nunito;
	text-align:left;
	font-size:60px;
	letter-spacing:0;
}
.e55_217 { 
	width:180px;
	height:173px;
	position:absolute;
	left:25px;
	top:0px;
	background-image:url(../static/rectangle_14.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.17_124 { 
	overflow:hidden;
}
.e17_124 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:1080px;
	position:absolute;
}
.e17_125 { 
	width:1922px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
}
.e17_126 { 
	width:1920px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(../static/rectangle_9.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e17_127 { 
	background-color:rgba(25.000000409781933, 22.000000588595867, 169.00000512599945, 0.699999988079071);
	width:1920px;
	height:95px;
	position:absolute;
	left:0px;
	top:0px;
}
.e17_128 { 
	width:1834px;
	height:58px;
	position:absolute;
	left:88px;
	top:18px;
}
.e17_129 { 
	color:rgba(255, 255, 255, 1);
	width:1834px;
	height:58px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Nunito;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e17_130 { 
	width:417px;
	height:505px;
	position:absolute;
	left:78px;
	top:117px;
}
.e203_4 { 
	background-color:rgba(251.81250303983688, 0, 0, 0.699999988079071);
	width:405px;
	height:423px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:500px;
	border-top-right-radius:500px;
	border-bottom-left-radius:500px;
	border-bottom-right-radius:500px;
}
.e203_5 { 
	width:360px;
	height:375px;
	position:absolute;
	left:22px;
	top:23px;
	border-top-left-radius:500px;
	border-top-right-radius:500px;
	border-bottom-left-radius:500px;
	border-bottom-right-radius:500px;
	background-image:url(../static/_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e17_135 { 
	background-color:rgba(178.00000458955765, 2.000000118277967, 2.000000118277967, 1);
	width:407px;
	height:75px;
	position:absolute;
	left:10px;
	top:430px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.e17_136 { 
	color:rgba(255, 255, 255, 1);
	width:376px;
	height:50px;
	position:absolute;
	left:29px;
	top:442px;
	font-family:Nunito;
	text-align:left;
	font-size:38px;
	letter-spacing:0;
}
.e204_9 { 
	width:417px;
	height:505px;
	position:absolute;
	left:543px;
	top:117px;
}
.e204_10 { 
	background-color:rgba(45.00000111758709, 41.00000135600567, 206.0000029206276, 0.699999988079071);
	width:405px;
	height:423px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:500px;
	border-top-right-radius:500px;
	border-bottom-left-radius:500px;
	border-bottom-right-radius:500px;
}
.e204_11 { 
	background-color:rgba(178.00000458955765, 6.000000117346644, 9.000000413507223, 1);
	width:360px;
	height:375px;
	position:absolute;
	left:22px;
	top:23px;
	border-top-left-radius:500px;
	border-top-right-radius:500px;
	border-bottom-left-radius:500px;
	border-bottom-right-radius:500px;
}
.e204_29 { 
	width:360px;
	height:375px;
	position:absolute;
	left:22px;
	top:23px;
	border-top-left-radius:500px;
	border-top-right-radius:500px;
	border-bottom-left-radius:500px;
	border-bottom-right-radius:500px;
	background-image:url(../static/rectangle_16.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e204_12 { 
	background-color:rgba(44.52299751341343, 41.22499868273735, 206.12500101327896, 1);
	width:407px;
	height:75px;
	position:absolute;
	left:10px;
	top:430px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.e204_13 { 
	color:rgba(255, 255, 255, 1);
	width:322px;
	height:50px;
	position:absolute;
	left:83px;
	top:440px;
	font-family:Nunito;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e204_14 { 
	width:417px;
	height:505px;
	position:absolute;
	left:1008px;
	top:117px;
}
.e204_15 { 
	background-color:rgba(249.00000035762787, 76.0000030696392, 2.000000118277967, 0.699999988079071);
	width:405px;
	height:423px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:500px;
	border-top-right-radius:500px;
	border-bottom-left-radius:500px;
	border-bottom-right-radius:500px;
}
.e204_16 { 
	width:360px;
	height:375px;
	position:absolute;
	left:22px;
	top:23px;
	border-top-left-radius:500px;
	border-top-right-radius:500px;
	border-bottom-left-radius:500px;
	border-bottom-right-radius:500px;
	background-image:url(../static/_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e204_17 { 
	background-color:rgba(248.62500607967377, 76.0378186404705, 2.071874924004078, 1);
	width:407px;
	height:75px;
	position:absolute;
	left:10px;
	top:430px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.e204_18 { 
	color:rgba(255, 255, 255, 1);
	width:364px;
	height:50px;
	position:absolute;
	left:41px;
	top:440px;
	font-family:Nunito;
	text-align:left;
	font-size:38px;
	letter-spacing:0;
}
.e204_19 { 
	width:417px;
	height:505px;
	position:absolute;
	left:1473px;
	top:117px;
}
.e204_20 { 
	background-color:rgba(62.00000010430813, 6.000000117346644, 219.0000021457672, 0.699999988079071);
	width:405px;
	height:423px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:500px;
	border-top-right-radius:500px;
	border-bottom-left-radius:500px;
	border-bottom-right-radius:500px;
}
.e204_21 { 
	width:360px;
	height:375px;
	position:absolute;
	left:22px;
	top:23px;
	border-top-left-radius:500px;
	border-top-right-radius:500px;
	border-bottom-left-radius:500px;
	border-bottom-right-radius:500px;
	background-image:url(../static/_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e204_22 { 
	background-color:rgba(61.631556674838066, 6.38385409489274, 218.87500405311584, 1);
	width:407px;
	height:75px;
	position:absolute;
	left:10px;
	top:430px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.e204_23 { 
	color:rgba(255, 255, 255, 1);
	width:330px;
	height:50px;
	position:absolute;
	left:52px;
	top:442px;
	font-family:Nunito;
	text-align:left;
	font-size:38px;
	letter-spacing:0;
}
.e17_172 { 
	width:351px;
	height:143px;
	position:absolute;
	left:1542px;
	top:840px;
}
.e17_173 { 
	background-color:rgba(26.87009286135435, 22.604686841368675, 235.87500303983688, 0.699999988079071);
	width:351px;
	height:143px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.17_173 { 
	border:7px solid rgba(27.000000290572643, 23.000000528991222, 236.00000113248825, 1);
}
.e17_174 { 
	color:rgba(255, 255, 255, 1);
	width:162px;
	height:64px;
	position:absolute;
	left:58px;
	top:21px;
	font-family:Nunito;
	text-align:left;
	font-size:65px;
	letter-spacing:0;
}
.e17_175 { 
	width:143px;
	height:143px;
	position:absolute;
	left:208px;
	top:0px;
	background-image:url(../static/next_icon.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e17_180 { 
	width:351px;
	height:147px;
	position:absolute;
	left:1542px;
	top:643px;
}
.e17_181 { 
	background-color:rgba(26.87009286135435, 22.604686841368675, 235.87500303983688, 0.699999988079071);
	width:351px;
	height:147px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.17_181 { 
	border:7px solid rgba(27.000000290572643, 23.000000528991222, 236.00000113248825, 1);
}
.e17_182 { 
	color:rgba(255, 255, 255, 1);
	width:144px;
	height:64px;
	position:absolute;
	left:180px;
	top:37px;
	font-family:Nunito;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e17_183 { 
	width:143px;
	height:143px;
	position:absolute;
	left:28px;
	top:0px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
	background-image:url(../static/rectangle_14.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.210_329 { 
	overflow:hidden;
}
.e210_329 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:1080px;
	position:absolute;
}
.e210_330 { 
	width:1922px;
	height:1080px;
	position:absolute;
	left:-2px;
	top:0px;
}
.e210_331 { 
	width:1920px;
	height:1080px;
	position:absolute;
	left:2px;
	top:0px;
	background-image:url(../static/rectangle_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e210_332 { 
	background-color:rgba(0, 86.70000851154327, 255, 1);
	width:543px;
	height:114px;
	position:absolute;
	left:654px;
	top:706px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
.e210_333 { 
	background-color:rgba(127.14990198612213, 0.9429687412921339, 226.31249696016312, 1);
	width:1920px;
	height:198px;
	position:absolute;
	left:2px;
	top:0px;
}
.e210_334 { 
	background-color:rgba(127.00000002980232, 1.0000000591389835, 226.0000017285347, 0.699999988079071);
	width:1920px;
	height:56px;
	position:absolute;
	left:0px;
	top:1024px;
}
.e210_337 { 
	background-color:rgba(0, 86.70000851154327, 255, 1);
	width:209px;
	height:17px;
	position:absolute;
	left:666px;
	top:162px;
}
.e210_338 { 
	background-color:rgba(0, 86.70000851154327, 255, 1);
	width:439px;
	height:18px;
	position:absolute;
	left:725px;
	top:388px;
}
.e210_339 { 
	background-color:rgba(1.0000000591389835, 77.00000301003456, 224.000001847744, 1);
	width:258px;
	height:17px;
	position:absolute;
	left:906px;
	top:162px;
}
.e210_340 { 
	width:1133px;
	height:800px;
	position:absolute;
	left:442px;
	top:0px;
}
.e210_341 { 
	color:rgba(255, 255, 255, 1);
	width:531px;
	height:76px;
	position:absolute;
	left:224px;
	top:724px;
	font-family:Nunito;
	text-align:left;
	font-size:60px;
	letter-spacing:0;
}
.e210_342 { 
	color:rgba(255, 255, 255, 1);
	width:409px;
	height:96px;
	position:absolute;
	left:313px;
	top:292px;
	font-family:Nunito;
	text-align:left;
	font-size:80px;
	letter-spacing:0;
}
.e210_343 { 
	color:rgba(255, 255, 255, 1);
	width:626px;
	height:275px;
	position:absolute;
	left:212px;
	top:406px;
	font-family:Nunito;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e210_344 { 
	color:rgba(0, 86.70000851154327, 255, 1);
	width:1133px;
	height:58px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Outfit;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e210_346 { 
	color:rgba(0, 86.70000851154327, 255, 1);
	width:243px;
	height:80px;
	position:absolute;
	left:479px;
	top:104px;
	font-family:Nunito;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e210_347 { 
	color:rgba(0, 86.70000851154327, 255, 1);
	width:196px;
	height:63px;
	position:absolute;
	left:237px;
	top:99px;
	font-family:Nunito;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.206_30 { 
	overflow:hidden;
}
.e206_30 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:1080px;
	position:absolute;
}
.e206_31 { 
	width:1922px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
}
.e206_32 { 
	width:1920px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(../static/rectangle_8.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e206_33 { 
	background-color:rgba(25.000000409781933, 22.000000588595867, 169.00000512599945, 0.699999988079071);
	width:1920px;
	height:95px;
	position:absolute;
	left:0px;
	top:0px;
}
.e206_34 { 
	width:1834px;
	height:58px;
	position:absolute;
	left:88px;
	top:18px;
}
.e206_35 { 
	color:rgba(255, 255, 255, 1);
	width:1834px;
	height:58px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Nunito;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e208_4 { 
	width:1922px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
}
.e208_5 { 
	width:1920px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(../static/rectangle_8.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e208_6 { 
	background-color:rgba(25.000000409781933, 22.000000588595867, 169.00000512599945, 0.699999988079071);
	width:1920px;
	height:95px;
	position:absolute;
	left:0px;
	top:0px;
}
.e208_7 { 
	width:1834px;
	height:58px;
	position:absolute;
	left:88px;
	top:18px;
}
.e208_8 { 
	color:rgba(255, 255, 255, 1);
	width:1834px;
	height:58px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Nunito;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e206_36 { 
	width:417px;
	height:505px;
	position:absolute;
	left:78px;
	top:117px;
}
.e206_37 { 
	background-color:rgba(3.000000058673322, 157.0000058412552, 190.0000038743019, 0.699999988079071);
	width:405px;
	height:423px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:500px;
	border-top-right-radius:500px;
	border-bottom-left-radius:500px;
	border-bottom-right-radius:500px;
}
.e206_38 { 
	width:360px;
	height:375px;
	position:absolute;
	left:22px;
	top:23px;
	border-top-left-radius:500px;
	border-top-right-radius:500px;
	border-bottom-left-radius:500px;
	border-bottom-right-radius:500px;
	background-image:url(../static/first_image.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e206_39 { 
	background-color:rgba(3.169791572727263, 156.52431696653366, 190.18750101327896, 1);
	width:407px;
	height:75px;
	position:absolute;
	left:10px;
	top:430px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.e206_40 { 
	color:rgba(255, 255, 255, 1);
	width:376px;
	height:50px;
	position:absolute;
	left:29px;
	top:442px;
	font-family:Nunito;
	text-align:left;
	font-size:38px;
	letter-spacing:0;
}
.e206_41 { 
	width:417px;
	height:505px;
	position:absolute;
	left:543px;
	top:117px;
}
.e206_42 { 
	background-color:rgba(225.00000178813934, 6.000000117346644, 137.00000703334808, 0.699999988079071);
	width:405px;
	height:423px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:500px;
	border-top-right-radius:500px;
	border-bottom-left-radius:500px;
	border-bottom-right-radius:500px;
}
.e206_44 { 
	width:360px;
	height:375px;
	position:absolute;
	left:22px;
	top:23px;
	border-top-left-radius:500px;
	border-top-right-radius:500px;
	border-bottom-left-radius:500px;
	border-bottom-right-radius:500px;
	background-image:url(../static/rectangle_19.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e206_45 { 
	background-color:rgba(225.24999797344208, 5.631249854341149, 137.40249663591385, 1);
	width:407px;
	height:75px;
	position:absolute;
	left:10px;
	top:430px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.e206_46 { 
	color:rgba(255, 255, 255, 1);
	width:384px;
	height:50px;
	position:absolute;
	left:33px;
	top:447px;
	font-family:Nunito;
	text-align:left;
	font-size:34px;
	letter-spacing:0;
}
.e206_47 { 
	width:417px;
	height:505px;
	position:absolute;
	left:1008px;
	top:117px;
}
.e206_48 { 
	background-color:rgba(165.00000536441803, 58.00000034272671, 12.000000234693289, 0.699999988079071);
	width:405px;
	height:423px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:500px;
	border-top-right-radius:500px;
	border-bottom-left-radius:500px;
	border-bottom-right-radius:500px;
}
.e206_49 { 
	width:360px;
	height:375px;
	position:absolute;
	left:22px;
	top:23px;
	border-top-left-radius:500px;
	border-top-right-radius:500px;
	border-bottom-left-radius:500px;
	border-bottom-right-radius:500px;
	background-image:url(../static/third_image.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e206_50 { 
	background-color:rgba(164.6874949336052, 58.052357733249664, 12.35156212002039, 1);
	width:407px;
	height:75px;
	position:absolute;
	left:10px;
	top:430px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.e206_51 { 
	color:rgba(255, 255, 255, 1);
	width:364px;
	height:50px;
	position:absolute;
	left:41px;
	top:440px;
	font-family:Nunito;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e206_52 { 
	width:417px;
	height:505px;
	position:absolute;
	left:1473px;
	top:117px;
}
.e206_53 { 
	background-color:rgba(16.000000946223736, 47.0000009983778, 206.0000029206276, 0.699999988079071);
	width:405px;
	height:423px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:500px;
	border-top-right-radius:500px;
	border-bottom-left-radius:500px;
	border-bottom-right-radius:500px;
}
.e206_54 { 
	width:360px;
	height:375px;
	position:absolute;
	left:22px;
	top:23px;
	border-top-left-radius:500px;
	border-top-right-radius:500px;
	border-bottom-left-radius:500px;
	border-bottom-right-radius:500px;
	background-image:url(../static/rectangle_18.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e206_55 { 
	background-color:rgba(16.31823007017374, 46.687311977148056, 206.12500101327896, 1);
	width:407px;
	height:75px;
	position:absolute;
	left:10px;
	top:430px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.e206_56 { 
	color:rgba(255, 255, 255, 1);
	width:368px;
	height:50px;
	position:absolute;
	left:41px;
	top:442px;
	font-family:Nunito;
	text-align:left;
	font-size:38px;
	letter-spacing:0;
}
.e206_57 { 
	width:351px;
	height:143px;
	position:absolute;
	left:1542px;
	top:840px;
}
.e206_58 { 
	background-color:rgba(26.87009286135435, 22.604686841368675, 235.87500303983688, 0.699999988079071);
	width:351px;
	height:143px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.206_58 { 
	border:7px solid rgba(27.000000290572643, 23.000000528991222, 236.00000113248825, 1);
}
.e206_59 { 
	color:rgba(255, 255, 255, 1);
	width:162px;
	height:64px;
	position:absolute;
	left:58px;
	top:21px;
	font-family:Nunito;
	text-align:left;
	font-size:65px;
	letter-spacing:0;
}
.e206_60 { 
	width:143px;
	height:143px;
	position:absolute;
	left:208px;
	top:0px;
	background-image:url(../static/next_icon.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e206_61 { 
	width:351px;
	height:147px;
	position:absolute;
	left:1542px;
	top:643px;
}
.e206_62 { 
	background-color:rgba(26.87009286135435, 22.604686841368675, 235.87500303983688, 0.699999988079071);
	width:351px;
	height:147px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.206_62 { 
	border:7px solid rgba(27.000000290572643, 23.000000528991222, 236.00000113248825, 1);
}
.e206_63 { 
	color:rgba(255, 255, 255, 1);
	width:144px;
	height:64px;
	position:absolute;
	left:180px;
	top:37px;
	font-family:Nunito;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e206_64 { 
	width:143px;
	height:143px;
	position:absolute;
	left:28px;
	top:0px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
	background-image:url(../static/rectangle_14.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e206_65 { 
	width:370px;
	height:145px;
	position:absolute;
	left:1172px;
	top:838px;
}
.e208_3 { 
	background-color:rgba(26.87009286135435, 22.604686841368675, 235.87500303983688, 0.699999988079071);
	width:351px;
	height:143px;
	position:absolute;
	left:10px;
	top:2px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.208_3 { 
	border:7px solid rgba(27.000000290572643, 23.000000528991222, 236.00000113248825, 1);
}
.e206_67 { 
	color:rgba(255, 255, 255, 1);
	width:260px;
	height:81px;
	position:absolute;
	left:110px;
	top:33px;
	font-family:Nunito;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e206_68 { 
	width:143px;
	height:143px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(../static/previous_icon.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.208_9 { 
	overflow:hidden;
}
.e208_9 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:1080px;
	position:absolute;
}
.e208_10 { 
	width:1922px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
}
.e208_11 { 
	width:1920px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(../static/rectangle_7.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e208_12 { 
	background-color:rgba(25.000000409781933, 22.000000588595867, 169.00000512599945, 0.699999988079071);
	width:1920px;
	height:95px;
	position:absolute;
	left:0px;
	top:0px;
}
.e208_13 { 
	width:1834px;
	height:58px;
	position:absolute;
	left:88px;
	top:18px;
}
.e208_14 { 
	color:rgba(255, 255, 255, 1);
	width:1834px;
	height:58px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Nunito;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e208_15 { 
	width:1922px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
}
.e208_16 { 
	width:1920px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(../static/rectangle_7.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e208_17 { 
	background-color:rgba(25.000000409781933, 22.000000588595867, 169.00000512599945, 0.699999988079071);
	width:1920px;
	height:95px;
	position:absolute;
	left:0px;
	top:0px;
}
.e208_18 { 
	width:1834px;
	height:58px;
	position:absolute;
	left:88px;
	top:18px;
}
.e208_19 { 
	color:rgba(255, 255, 255, 1);
	width:1834px;
	height:58px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Nunito;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e208_20 { 
	width:417px;
	height:505px;
	position:absolute;
	left:78px;
	top:117px;
}
.e208_21 { 
	background-color:rgba(19.0000007674098, 184.00000423192978, 15.000000055879354, 0.699999988079071);
	width:405px;
	height:423px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:500px;
	border-top-right-radius:500px;
	border-bottom-left-radius:500px;
	border-bottom-right-radius:500px;
}
.e208_22 { 
	width:360px;
	height:375px;
	position:absolute;
	left:22px;
	top:23px;
	border-top-left-radius:500px;
	border-top-right-radius:500px;
	border-bottom-left-radius:500px;
	border-bottom-right-radius:500px;
	background-image:url(../static/_.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e208_23 { 
	background-color:rgba(18.6876043304801, 183.81250709295273, 15.317708607763052, 1);
	width:407px;
	height:75px;
	position:absolute;
	left:10px;
	top:430px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.e208_24 { 
	color:rgba(255, 255, 255, 1);
	width:376px;
	height:50px;
	position:absolute;
	left:29px;
	top:442px;
	font-family:Nunito;
	text-align:left;
	font-size:38px;
	letter-spacing:0;
}
.e208_25 { 
	width:417px;
	height:505px;
	position:absolute;
	left:543px;
	top:117px;
}
.e208_26 { 
	background-color:rgba(255, 2.000000118277967, 48.000000938773155, 0.699999988079071);
	width:405px;
	height:423px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:500px;
	border-top-right-radius:500px;
	border-bottom-left-radius:500px;
	border-bottom-right-radius:500px;
}
.e208_27 { 
	width:360px;
	height:375px;
	position:absolute;
	left:22px;
	top:23px;
	border-top-left-radius:500px;
	border-top-right-radius:500px;
	border-bottom-left-radius:500px;
	border-bottom-right-radius:500px;
	background-image:url(../static/rectangle_17.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e208_28 { 
	background-color:rgba(255, 2.1250001108273864, 47.642500922083855, 1);
	width:407px;
	height:75px;
	position:absolute;
	left:10px;
	top:430px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.e208_29 { 
	transform: rotate(-0.05563258685520836deg);
	color:rgba(255, 255, 255, 1);
	width:383.7131042480469px;
	height:50px;
	position:absolute;
	left:22px;
	top:442.37255859375px;
	font-family:Nunito;
	text-align:left;
	font-size:29px;
	letter-spacing:0;
}
.e208_30 { 
	width:417px;
	height:505px;
	position:absolute;
	left:1008px;
	top:117px;
}
.e208_31 { 
	background-color:rgba(206.0000029206276, 224.000001847744, 0, 0.699999988079071);
	width:405px;
	height:423px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:500px;
	border-top-right-radius:500px;
	border-bottom-left-radius:500px;
	border-bottom-right-radius:500px;
}
.e208_32 { 
	width:360px;
	height:375px;
	position:absolute;
	left:22px;
	top:23px;
	border-top-left-radius:500px;
	border-top-right-radius:500px;
	border-bottom-left-radius:500px;
	border-bottom-right-radius:500px;
	background-image:url(../static/_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e208_33 { 
	background-color:rgba(206.25250697135925, 224.18749898672104, 0, 1);
	width:407px;
	height:75px;
	position:absolute;
	left:10px;
	top:430px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.e208_34 { 
	color:rgba(255, 255, 255, 1);
	width:341px;
	height:50px;
	position:absolute;
	left:41px;
	top:440px;
	font-family:Nunito;
	text-align:left;
	font-size:42px;
	letter-spacing:0;
}
.e208_35 { 
	width:417px;
	height:505px;
	position:absolute;
	left:1473px;
	top:117px;
}
.e208_36 { 
	background-color:rgba(100.00000163912773, 13.000000175088644, 242.00000077486038, 0.699999988079071);
	width:405px;
	height:423px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:500px;
	border-top-right-radius:500px;
	border-bottom-left-radius:500px;
	border-bottom-right-radius:500px;
}
.e208_37 { 
	width:360px;
	height:375px;
	position:absolute;
	left:22px;
	top:23px;
	border-top-left-radius:500px;
	border-top-right-radius:500px;
	border-bottom-left-radius:500px;
	border-bottom-right-radius:500px;
	background-image:url(../static/rectangle_15.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e208_38 { 
	background-color:rgba(100.19056141376495, 13.121874835342169, 242.24999696016312, 1);
	width:407px;
	height:75px;
	position:absolute;
	left:10px;
	top:430px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.e208_39 { 
	color:rgba(255, 255, 255, 1);
	width:199px;
	height:50px;
	position:absolute;
	left:114px;
	top:442px;
	font-family:Nunito;
	text-align:left;
	font-size:45px;
	letter-spacing:0;
}
.e208_44 { 
	width:351px;
	height:147px;
	position:absolute;
	left:1542px;
	top:643px;
}
.e208_45 { 
	background-color:rgba(26.87009286135435, 22.604686841368675, 235.87500303983688, 0.699999988079071);
	width:351px;
	height:147px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.208_45 { 
	border:7px solid rgba(27.000000290572643, 23.000000528991222, 236.00000113248825, 1);
}
.e208_46 { 
	color:rgba(255, 255, 255, 1);
	width:144px;
	height:64px;
	position:absolute;
	left:180px;
	top:37px;
	font-family:Nunito;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e208_47 { 
	width:143px;
	height:143px;
	position:absolute;
	left:28px;
	top:0px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
	background-image:url(../static/rectangle_14.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e208_48 { 
	width:370px;
	height:145px;
	position:absolute;
	left:1523px;
	top:844px;
}
.e208_49 { 
	background-color:rgba(26.87009286135435, 22.604686841368675, 235.87500303983688, 0.699999988079071);
	width:351px;
	height:143px;
	position:absolute;
	left:10px;
	top:2px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.208_49 { 
	border:7px solid rgba(27.000000290572643, 23.000000528991222, 236.00000113248825, 1);
}
.e208_50 { 
	color:rgba(255, 255, 255, 1);
	width:260px;
	height:81px;
	position:absolute;
	left:110px;
	top:33px;
	font-family:Nunito;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e208_51 { 
	width:143px;
	height:143px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(../static/previous_icon.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.208_61 { 
	overflow:hidden;
}
.e208_61 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:1080px;
	position:absolute;
}
.e208_62 { 
	width:1920px;
	height:1196px;
	position:absolute;
	left:0px;
	top:0px;
}
.e208_63 { 
	width:1920px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(../static/rectangle_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e208_64 { 
	background-color:rgba(28.000000230968, 21.000000648200512, 211.00000262260437, 0.699999988079071);
	width:1920px;
	height:95px;
	position:absolute;
	left:0px;
	top:0px;
}
.e208_65 { 
	width:1676px;
	height:1178px;
	position:absolute;
	left:220px;
	top:18px;
}
.e208_66 { 
	color:rgba(255, 255, 255, 1);
	width:1515px;
	height:58px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Nunito;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e208_85 { 
	color:rgba(255, 255, 255, 1);
	width:1429px;
	height:889px;
	position:absolute;
	left:247px;
	top:289px;
	font-family:Nunito;
	text-align:left;
	font-size:44px;
	letter-spacing:0;
}
.e208_86 { 
	width:370px;
	height:145px;
	position:absolute;
	left:48px;
	top:850px;
}
.e208_87 { 
	background-color:rgba(26.87009286135435, 22.604686841368675, 235.87500303983688, 0.699999988079071);
	width:351px;
	height:143px;
	position:absolute;
	left:10px;
	top:2px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.208_87 { 
	border:7px solid rgba(27.000000290572643, 23.000000528991222, 236.00000113248825, 1);
}
.e208_88 { 
	color:rgba(255, 255, 255, 1);
	width:260px;
	height:81px;
	position:absolute;
	left:110px;
	top:33px;
	font-family:Nunito;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e208_89 { 
	width:143px;
	height:143px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(../static/previous_icon.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e208_80 { 
	width:417px;
	height:505px;
	position:absolute;
	left:19px;
	top:288px;
}
.e208_81 { 
	background-color:rgba(251.81250303983688, 0, 0, 0.699999988079071);
	width:405px;
	height:423px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:500px;
	border-top-right-radius:500px;
	border-bottom-left-radius:500px;
	border-bottom-right-radius:500px;
}
.e208_82 { 
	width:360px;
	height:375px;
	position:absolute;
	left:22px;
	top:23px;
	border-top-left-radius:500px;
	border-top-right-radius:500px;
	border-bottom-left-radius:500px;
	border-bottom-right-radius:500px;
	background-image:url(../static/_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e208_83 { 
	background-color:rgba(178.00000458955765, 2.000000118277967, 2.000000118277967, 1);
	width:407px;
	height:75px;
	position:absolute;
	left:10px;
	top:430px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.e208_84 { 
	color:rgba(255, 255, 255, 1);
	width:376px;
	height:50px;
	position:absolute;
	left:29px;
	top:442px;
	font-family:Nunito;
	text-align:left;
	font-size:38px;
	letter-spacing:0;
}
.208_90 { 
	overflow:hidden;
}
.e208_90 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:1080px;
	position:absolute;
}
.e208_91 { 
	width:1920px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
}
.e208_92 { 
	width:1920px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(../static/rectangle_8.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e208_93 { 
	background-color:rgba(28.000000230968, 21.000000648200512, 211.00000262260437, 0.699999988079071);
	width:1920px;
	height:95px;
	position:absolute;
	left:0px;
	top:0px;
}
.e208_94 { 
	width:1540px;
	height:998px;
	position:absolute;
	left:366px;
	top:18px;
}
.e208_95 { 
	color:rgba(255, 255, 255, 1);
	width:1364px;
	height:58px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Nunito;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e208_96 { 
	color:rgba(255, 255, 255, 1);
	width:1429px;
	height:667px;
	position:absolute;
	left:111px;
	top:331px;
	font-family:Nunito;
	text-align:left;
	font-size:44px;
	letter-spacing:0;
}
.e208_97 { 
	width:370px;
	height:145px;
	position:absolute;
	left:48px;
	top:850px;
}
.e208_98 { 
	background-color:rgba(26.87009286135435, 22.604686841368675, 235.87500303983688, 0.699999988079071);
	width:351px;
	height:143px;
	position:absolute;
	left:10px;
	top:2px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.208_98 { 
	border:7px solid rgba(27.000000290572643, 23.000000528991222, 236.00000113248825, 1);
}
.e208_99 { 
	color:rgba(255, 255, 255, 1);
	width:260px;
	height:81px;
	position:absolute;
	left:110px;
	top:33px;
	font-family:Nunito;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e208_100 { 
	width:143px;
	height:143px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(../static/previous_icon.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e209_106 { 
	width:417px;
	height:505px;
	position:absolute;
	left:19px;
	top:288px;
}
.e209_107 { 
	background-color:rgba(45.00000111758709, 41.00000135600567, 206.0000029206276, 0.699999988079071);
	width:405px;
	height:423px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:500px;
	border-top-right-radius:500px;
	border-bottom-left-radius:500px;
	border-bottom-right-radius:500px;
}
.e209_108 { 
	background-color:rgba(178.00000458955765, 6.000000117346644, 9.000000413507223, 1);
	width:360px;
	height:375px;
	position:absolute;
	left:22px;
	top:23px;
	border-top-left-radius:500px;
	border-top-right-radius:500px;
	border-bottom-left-radius:500px;
	border-bottom-right-radius:500px;
}
.e209_109 { 
	width:360px;
	height:375px;
	position:absolute;
	left:22px;
	top:23px;
	border-top-left-radius:500px;
	border-top-right-radius:500px;
	border-bottom-left-radius:500px;
	border-bottom-right-radius:500px;
	background-image:url(../static/rectangle_16.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e209_110 { 
	background-color:rgba(44.52299751341343, 41.22499868273735, 206.12500101327896, 1);
	width:407px;
	height:75px;
	position:absolute;
	left:10px;
	top:430px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.e209_111 { 
	color:rgba(255, 255, 255, 1);
	width:322px;
	height:50px;
	position:absolute;
	left:83px;
	top:440px;
	font-family:Nunito;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.209_112 { 
	overflow:hidden;
}
.e209_112 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:1080px;
	position:absolute;
}
.e209_113 { 
	width:1920px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
}
.e209_114 { 
	width:1920px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(../static/rectangle_9.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e209_115 { 
	background-color:rgba(28.000000230968, 21.000000648200512, 211.00000262260437, 0.699999988079071);
	width:1920px;
	height:95px;
	position:absolute;
	left:0px;
	top:0px;
}
.e209_116 { 
	width:1856px;
	height:879px;
	position:absolute;
	left:48px;
	top:18px;
}
.e209_117 { 
	color:rgba(255, 255, 255, 1);
	width:1851px;
	height:58px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Nunito;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e209_118 { 
	color:rgba(255, 255, 255, 1);
	width:1429px;
	height:530px;
	position:absolute;
	left:427px;
	top:349px;
	font-family:Nunito;
	text-align:left;
	font-size:44px;
	letter-spacing:0;
}
.e209_119 { 
	width:370px;
	height:145px;
	position:absolute;
	left:48px;
	top:850px;
}
.e209_120 { 
	background-color:rgba(26.87009286135435, 22.604686841368675, 235.87500303983688, 0.699999988079071);
	width:351px;
	height:143px;
	position:absolute;
	left:10px;
	top:2px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.209_120 { 
	border:7px solid rgba(27.000000290572643, 23.000000528991222, 236.00000113248825, 1);
}
.e209_121 { 
	color:rgba(255, 255, 255, 1);
	width:260px;
	height:81px;
	position:absolute;
	left:110px;
	top:33px;
	font-family:Nunito;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e209_122 { 
	width:143px;
	height:143px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(../static/previous_icon.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e209_129 { 
	width:417px;
	height:505px;
	position:absolute;
	left:19px;
	top:288px;
}
.e209_130 { 
	background-color:rgba(249.00000035762787, 76.0000030696392, 2.000000118277967, 0.699999988079071);
	width:405px;
	height:423px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:500px;
	border-top-right-radius:500px;
	border-bottom-left-radius:500px;
	border-bottom-right-radius:500px;
}
.e209_131 { 
	width:360px;
	height:375px;
	position:absolute;
	left:22px;
	top:23px;
	border-top-left-radius:500px;
	border-top-right-radius:500px;
	border-bottom-left-radius:500px;
	border-bottom-right-radius:500px;
	background-image:url(../static/_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e209_132 { 
	background-color:rgba(248.62500607967377, 76.0378186404705, 2.071874924004078, 1);
	width:407px;
	height:75px;
	position:absolute;
	left:10px;
	top:430px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.e209_133 { 
	color:rgba(255, 255, 255, 1);
	width:364px;
	height:50px;
	position:absolute;
	left:41px;
	top:440px;
	font-family:Nunito;
	text-align:left;
	font-size:38px;
	letter-spacing:0;
}
.209_134 { 
	overflow:hidden;
}
.e209_134 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:1080px;
	position:absolute;
}
.e209_135 { 
	width:1920px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
}
.e209_136 { 
	width:1920px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(../static/rectangle_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e209_137 { 
	background-color:rgba(28.000000230968, 21.000000648200512, 211.00000262260437, 0.699999988079071);
	width:1920px;
	height:95px;
	position:absolute;
	left:0px;
	top:0px;
}
.e209_138 { 
	width:1851px;
	height:986px;
	position:absolute;
	left:48px;
	top:18px;
}
.e209_139 { 
	color:rgba(255, 255, 255, 1);
	width:1851px;
	height:58px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Nunito;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e209_140 { 
	color:rgba(255, 255, 255, 1);
	width:1429px;
	height:670px;
	position:absolute;
	left:422px;
	top:316px;
	font-family:Nunito;
	text-align:left;
	font-size:44px;
	letter-spacing:0;
}
.e209_141 { 
	width:370px;
	height:145px;
	position:absolute;
	left:48px;
	top:850px;
}
.e209_142 { 
	background-color:rgba(26.87009286135435, 22.604686841368675, 235.87500303983688, 0.699999988079071);
	width:351px;
	height:143px;
	position:absolute;
	left:10px;
	top:2px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.209_142 { 
	border:7px solid rgba(27.000000290572643, 23.000000528991222, 236.00000113248825, 1);
}
.e209_143 { 
	color:rgba(255, 255, 255, 1);
	width:260px;
	height:81px;
	position:absolute;
	left:110px;
	top:33px;
	font-family:Nunito;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e209_144 { 
	width:143px;
	height:143px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(../static/previous_icon.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e209_150 { 
	width:417px;
	height:505px;
	position:absolute;
	left:19px;
	top:288px;
}
.e209_151 { 
	background-color:rgba(62.00000010430813, 6.000000117346644, 219.0000021457672, 0.699999988079071);
	width:405px;
	height:423px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:500px;
	border-top-right-radius:500px;
	border-bottom-left-radius:500px;
	border-bottom-right-radius:500px;
}
.e209_152 { 
	width:360px;
	height:375px;
	position:absolute;
	left:22px;
	top:23px;
	border-top-left-radius:500px;
	border-top-right-radius:500px;
	border-bottom-left-radius:500px;
	border-bottom-right-radius:500px;
	background-image:url(../static/rectangle_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e209_153 { 
	background-color:rgba(61.631556674838066, 6.38385409489274, 218.87500405311584, 1);
	width:407px;
	height:75px;
	position:absolute;
	left:10px;
	top:430px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.e209_154 { 
	color:rgba(255, 255, 255, 1);
	width:330px;
	height:50px;
	position:absolute;
	left:52px;
	top:442px;
	font-family:Nunito;
	text-align:left;
	font-size:38px;
	letter-spacing:0;
}
.209_155 { 
	overflow:hidden;
}
.e209_155 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:1080px;
	position:absolute;
}
.e209_156 { 
	width:1920px;
	height:1083px;
	position:absolute;
	left:0px;
	top:0px;
}
.e209_157 { 
	width:1920px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(../static/rectangle_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e209_158 { 
	background-color:rgba(28.000000230968, 21.000000648200512, 211.00000262260437, 0.699999988079071);
	width:1920px;
	height:95px;
	position:absolute;
	left:0px;
	top:0px;
}
.e209_159 { 
	width:1584px;
	height:1065px;
	position:absolute;
	left:315px;
	top:18px;
}
.e209_160 { 
	color:rgba(255, 255, 255, 1);
	width:1289px;
	height:58px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Nunito;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e209_161 { 
	color:rgba(255, 255, 255, 1);
	width:1429px;
	height:763px;
	position:absolute;
	left:155px;
	top:302px;
	font-family:Nunito;
	text-align:left;
	font-size:44px;
	letter-spacing:0;
}
.e209_162 { 
	width:370px;
	height:145px;
	position:absolute;
	left:48px;
	top:850px;
}
.e209_163 { 
	background-color:rgba(26.87009286135435, 22.604686841368675, 235.87500303983688, 0.699999988079071);
	width:351px;
	height:143px;
	position:absolute;
	left:10px;
	top:2px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.209_163 { 
	border:7px solid rgba(27.000000290572643, 23.000000528991222, 236.00000113248825, 1);
}
.e209_164 { 
	color:rgba(255, 255, 255, 1);
	width:260px;
	height:81px;
	position:absolute;
	left:110px;
	top:33px;
	font-family:Nunito;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e209_165 { 
	width:143px;
	height:143px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(../static/previous_icon.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e209_171 { 
	width:417px;
	height:505px;
	position:absolute;
	left:19px;
	top:288px;
}
.e209_172 { 
	background-color:rgba(3.000000058673322, 157.0000058412552, 190.0000038743019, 0.699999988079071);
	width:405px;
	height:423px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:500px;
	border-top-right-radius:500px;
	border-bottom-left-radius:500px;
	border-bottom-right-radius:500px;
}
.e209_173 { 
	width:360px;
	height:375px;
	position:absolute;
	left:22px;
	top:23px;
	border-top-left-radius:500px;
	border-top-right-radius:500px;
	border-bottom-left-radius:500px;
	border-bottom-right-radius:500px;
	background-image:url(../static/first_image.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e209_174 { 
	background-color:rgba(3.169791572727263, 156.52431696653366, 190.18750101327896, 1);
	width:407px;
	height:75px;
	position:absolute;
	left:10px;
	top:430px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.e209_175 { 
	color:rgba(255, 255, 255, 1);
	width:376px;
	height:50px;
	position:absolute;
	left:29px;
	top:442px;
	font-family:Nunito;
	text-align:left;
	font-size:38px;
	letter-spacing:0;
}
.209_176 { 
	overflow:hidden;
}
.e209_176 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:1080px;
	position:absolute;
}
.e209_177 { 
	width:1920px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
}
.e209_178 { 
	width:1920px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(../static/rectangle_7.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e209_179 { 
	background-color:rgba(28.000000230968, 21.000000648200512, 211.00000262260437, 0.699999988079071);
	width:1920px;
	height:95px;
	position:absolute;
	left:0px;
	top:0px;
}
.e209_180 { 
	width:1803px;
	height:897px;
	position:absolute;
	left:81px;
	top:18px;
}
.e209_181 { 
	color:rgba(255, 255, 255, 1);
	width:1758px;
	height:58px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Nunito;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e209_182 { 
	color:rgba(255, 255, 255, 1);
	width:1429px;
	height:564px;
	position:absolute;
	left:374px;
	top:333px;
	font-family:Nunito;
	text-align:left;
	font-size:44px;
	letter-spacing:0;
}
.e209_183 { 
	width:370px;
	height:145px;
	position:absolute;
	left:48px;
	top:850px;
}
.e209_184 { 
	background-color:rgba(26.87009286135435, 22.604686841368675, 235.87500303983688, 0.699999988079071);
	width:351px;
	height:143px;
	position:absolute;
	left:10px;
	top:2px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.209_184 { 
	border:7px solid rgba(27.000000290572643, 23.000000528991222, 236.00000113248825, 1);
}
.e209_185 { 
	color:rgba(255, 255, 255, 1);
	width:260px;
	height:81px;
	position:absolute;
	left:110px;
	top:33px;
	font-family:Nunito;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e209_186 { 
	width:143px;
	height:143px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(../static/previous_icon.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e209_192 { 
	width:417px;
	height:505px;
	position:absolute;
	left:19px;
	top:288px;
}
.e209_193 { 
	background-color:rgba(225.00000178813934, 6.000000117346644, 137.00000703334808, 0.699999988079071);
	width:405px;
	height:423px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:500px;
	border-top-right-radius:500px;
	border-bottom-left-radius:500px;
	border-bottom-right-radius:500px;
}
.e209_194 { 
	width:360px;
	height:375px;
	position:absolute;
	left:22px;
	top:23px;
	border-top-left-radius:500px;
	border-top-right-radius:500px;
	border-bottom-left-radius:500px;
	border-bottom-right-radius:500px;
	background-image:url(../static/rectangle_19.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e209_195 { 
	background-color:rgba(225.24999797344208, 5.631249854341149, 137.40249663591385, 1);
	width:407px;
	height:75px;
	position:absolute;
	left:10px;
	top:430px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.e209_196 { 
	color:rgba(255, 255, 255, 1);
	width:384px;
	height:50px;
	position:absolute;
	left:33px;
	top:447px;
	font-family:Nunito;
	text-align:left;
	font-size:34px;
	letter-spacing:0;
}
.209_197 { 
	overflow:hidden;
}
.e209_197 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:1080px;
	position:absolute;
}
.e209_198 { 
	width:1920px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
}
.e209_199 { 
	width:1920px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(../static/rectangle_9.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e209_200 { 
	background-color:rgba(28.000000230968, 21.000000648200512, 211.00000262260437, 0.699999988079071);
	width:1920px;
	height:95px;
	position:absolute;
	left:0px;
	top:0px;
}
.e209_201 { 
	width:1875px;
	height:957px;
	position:absolute;
	left:29px;
	top:18px;
}
.e209_202 { 
	color:rgba(255, 255, 255, 1);
	width:1875px;
	height:58px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Nunito;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e209_203 { 
	color:rgba(255, 255, 255, 1);
	width:1429px;
	height:657px;
	position:absolute;
	left:446px;
	top:300px;
	font-family:Nunito;
	text-align:left;
	font-size:46px;
	letter-spacing:0;
}
.e209_204 { 
	width:370px;
	height:145px;
	position:absolute;
	left:48px;
	top:850px;
}
.e209_205 { 
	background-color:rgba(26.87009286135435, 22.604686841368675, 235.87500303983688, 0.699999988079071);
	width:351px;
	height:143px;
	position:absolute;
	left:10px;
	top:2px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.209_205 { 
	border:7px solid rgba(27.000000290572643, 23.000000528991222, 236.00000113248825, 1);
}
.e209_206 { 
	color:rgba(255, 255, 255, 1);
	width:260px;
	height:81px;
	position:absolute;
	left:110px;
	top:33px;
	font-family:Nunito;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e209_207 { 
	width:143px;
	height:143px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(../static/previous_icon.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e209_213 { 
	width:417px;
	height:505px;
	position:absolute;
	left:19px;
	top:280px;
}
.e209_214 { 
	background-color:rgba(165.00000536441803, 58.00000034272671, 12.000000234693289, 0.699999988079071);
	width:405px;
	height:423px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:500px;
	border-top-right-radius:500px;
	border-bottom-left-radius:500px;
	border-bottom-right-radius:500px;
}
.e209_215 { 
	width:360px;
	height:375px;
	position:absolute;
	left:22px;
	top:23px;
	border-top-left-radius:500px;
	border-top-right-radius:500px;
	border-bottom-left-radius:500px;
	border-bottom-right-radius:500px;
	background-image:url(../static/third_image.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e209_216 { 
	background-color:rgba(164.6874949336052, 58.052357733249664, 12.35156212002039, 1);
	width:407px;
	height:75px;
	position:absolute;
	left:10px;
	top:430px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.e209_217 { 
	color:rgba(255, 255, 255, 1);
	width:364px;
	height:50px;
	position:absolute;
	left:41px;
	top:440px;
	font-family:Nunito;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.209_218 { 
	overflow:hidden;
}
.e209_218 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:1080px;
	position:absolute;
}
.e209_219 { 
	width:1957px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
}
.e209_220 { 
	width:1920px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(../static/rectangle_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e209_221 { 
	background-color:rgba(28.000000230968, 21.000000648200512, 211.00000262260437, 0.699999988079071);
	width:1920px;
	height:95px;
	position:absolute;
	left:0px;
	top:0px;
}
.e209_222 { 
	width:1875px;
	height:915px;
	position:absolute;
	left:82px;
	top:18px;
}
.e209_223 { 
	color:rgba(255, 255, 255, 1);
	width:1875px;
	height:58px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Nunito;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e209_224 { 
	color:rgba(255, 255, 255, 1);
	width:1429px;
	height:562px;
	position:absolute;
	left:396px;
	top:353px;
	font-family:Nunito;
	text-align:left;
	font-size:46px;
	letter-spacing:0;
}
.e209_225 { 
	width:370px;
	height:145px;
	position:absolute;
	left:48px;
	top:850px;
}
.e209_226 { 
	background-color:rgba(26.87009286135435, 22.604686841368675, 235.87500303983688, 0.699999988079071);
	width:351px;
	height:143px;
	position:absolute;
	left:10px;
	top:2px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.209_226 { 
	border:7px solid rgba(27.000000290572643, 23.000000528991222, 236.00000113248825, 1);
}
.e209_227 { 
	color:rgba(255, 255, 255, 1);
	width:260px;
	height:81px;
	position:absolute;
	left:110px;
	top:33px;
	font-family:Nunito;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e209_228 { 
	width:143px;
	height:143px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(../static/previous_icon.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e209_239 { 
	width:417px;
	height:505px;
	position:absolute;
	left:19px;
	top:280px;
}
.e209_240 { 
	background-color:rgba(16.000000946223736, 47.0000009983778, 206.0000029206276, 0.699999988079071);
	width:405px;
	height:423px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:500px;
	border-top-right-radius:500px;
	border-bottom-left-radius:500px;
	border-bottom-right-radius:500px;
}
.e209_241 { 
	width:360px;
	height:375px;
	position:absolute;
	left:22px;
	top:23px;
	border-top-left-radius:500px;
	border-top-right-radius:500px;
	border-bottom-left-radius:500px;
	border-bottom-right-radius:500px;
	background-image:url(../static/rectangle_18.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e209_242 { 
	background-color:rgba(16.31823007017374, 46.687311977148056, 206.12500101327896, 1);
	width:407px;
	height:75px;
	position:absolute;
	left:10px;
	top:430px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.e209_243 { 
	color:rgba(255, 255, 255, 1);
	width:368px;
	height:50px;
	position:absolute;
	left:41px;
	top:442px;
	font-family:Nunito;
	text-align:left;
	font-size:38px;
	letter-spacing:0;
}
.209_244 { 
	overflow:hidden;
}
.e209_244 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:1080px;
	position:absolute;
}
.e209_245 { 
	width:1920px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
}
.e209_246 { 
	width:1920px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(../static/rectangle_6.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e209_247 { 
	background-color:rgba(28.000000230968, 21.000000648200512, 211.00000262260437, 0.699999988079071);
	width:1920px;
	height:95px;
	position:absolute;
	left:0px;
	top:0px;
}
.e209_248 { 
	width:1687px;
	height:1014px;
	position:absolute;
	left:233px;
	top:18px;
}
.e209_249 { 
	color:rgba(255, 255, 255, 1);
	width:1515px;
	height:58px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Nunito;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e209_250 { 
	color:rgba(255, 255, 255, 1);
	width:1429px;
	height:682px;
	position:absolute;
	left:258px;
	top:332px;
	font-family:Nunito;
	text-align:left;
	font-size:46px;
	letter-spacing:0;
}
.e209_251 { 
	width:370px;
	height:145px;
	position:absolute;
	left:48px;
	top:850px;
}
.e209_252 { 
	background-color:rgba(26.87009286135435, 22.604686841368675, 235.87500303983688, 0.699999988079071);
	width:351px;
	height:143px;
	position:absolute;
	left:10px;
	top:2px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.209_252 { 
	border:7px solid rgba(27.000000290572643, 23.000000528991222, 236.00000113248825, 1);
}
.e209_253 { 
	color:rgba(255, 255, 255, 1);
	width:260px;
	height:81px;
	position:absolute;
	left:110px;
	top:33px;
	font-family:Nunito;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e209_254 { 
	width:143px;
	height:143px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(../static/previous_icon.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e209_260 { 
	width:417px;
	height:505px;
	position:absolute;
	left:19px;
	top:280px;
}
.e209_261 { 
	background-color:rgba(19.0000007674098, 184.00000423192978, 15.000000055879354, 0.699999988079071);
	width:405px;
	height:423px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:500px;
	border-top-right-radius:500px;
	border-bottom-left-radius:500px;
	border-bottom-right-radius:500px;
}
.e209_262 { 
	width:360px;
	height:375px;
	position:absolute;
	left:22px;
	top:23px;
	border-top-left-radius:500px;
	border-top-right-radius:500px;
	border-bottom-left-radius:500px;
	border-bottom-right-radius:500px;
	background-image:url(../static/_.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e209_263 { 
	background-color:rgba(18.6876043304801, 183.81250709295273, 15.317708607763052, 1);
	width:407px;
	height:75px;
	position:absolute;
	left:10px;
	top:430px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.e209_264 { 
	color:rgba(255, 255, 255, 1);
	width:376px;
	height:50px;
	position:absolute;
	left:29px;
	top:442px;
	font-family:Nunito;
	text-align:left;
	font-size:38px;
	letter-spacing:0;
}
.209_265 { 
	overflow:hidden;
}
.e209_265 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:1080px;
	position:absolute;
}
.e209_266 { 
	width:1920px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
}
.e209_267 { 
	width:1920px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(../static/rectangle_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e209_268 { 
	background-color:rgba(28.000000230968, 21.000000648200512, 211.00000262260437, 0.699999988079071);
	width:1920px;
	height:95px;
	position:absolute;
	left:0px;
	top:0px;
}
.e209_269 { 
	width:1605px;
	height:977px;
	position:absolute;
	left:315px;
	top:18px;
}
.e209_270 { 
	color:rgba(255, 255, 255, 1);
	width:1289px;
	height:58px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Nunito;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e209_271 { 
	color:rgba(255, 255, 255, 1);
	width:1429px;
	height:614px;
	position:absolute;
	left:176px;
	top:363px;
	font-family:Nunito;
	text-align:left;
	font-size:44px;
	letter-spacing:0;
}
.e209_272 { 
	width:370px;
	height:145px;
	position:absolute;
	left:48px;
	top:850px;
}
.e209_273 { 
	background-color:rgba(26.87009286135435, 22.604686841368675, 235.87500303983688, 0.699999988079071);
	width:351px;
	height:143px;
	position:absolute;
	left:10px;
	top:2px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.209_273 { 
	border:7px solid rgba(27.000000290572643, 23.000000528991222, 236.00000113248825, 1);
}
.e209_274 { 
	color:rgba(255, 255, 255, 1);
	width:260px;
	height:81px;
	position:absolute;
	left:110px;
	top:33px;
	font-family:Nunito;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e209_275 { 
	width:143px;
	height:143px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(../static/previous_icon.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e209_281 { 
	width:417px;
	height:505px;
	position:absolute;
	left:19px;
	top:288px;
}
.e209_282 { 
	background-color:rgba(255, 2.000000118277967, 48.000000938773155, 0.699999988079071);
	width:405px;
	height:423px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:500px;
	border-top-right-radius:500px;
	border-bottom-left-radius:500px;
	border-bottom-right-radius:500px;
}
.e209_283 { 
	width:360px;
	height:375px;
	position:absolute;
	left:22px;
	top:23px;
	border-top-left-radius:500px;
	border-top-right-radius:500px;
	border-bottom-left-radius:500px;
	border-bottom-right-radius:500px;
	background-image:url(../static/rectangle_17.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e209_284 { 
	background-color:rgba(255, 2.1250001108273864, 47.642500922083855, 1);
	width:407px;
	height:75px;
	position:absolute;
	left:10px;
	top:430px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.e209_285 { 
	transform: rotate(-0.05563258685520836deg);
	color:rgba(255, 255, 255, 1);
	width:383.7131042480469px;
	height:50px;
	position:absolute;
	left:22px;
	top:442.37255859375px;
	font-family:Nunito;
	text-align:left;
	font-size:29px;
	letter-spacing:0;
}
.209_286 { 
	overflow:hidden;
}
.e209_286 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:1080px;
	position:absolute;
}
.e209_287 { 
	width:1920px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
}
.e209_288 { 
	width:1920px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(../static/rectangle_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e209_289 { 
	background-color:rgba(28.000000230968, 21.000000648200512, 211.00000262260437, 0.699999988079071);
	width:1920px;
	height:95px;
	position:absolute;
	left:0px;
	top:0px;
}
.e209_290 { 
	width:1860px;
	height:995px;
	position:absolute;
	left:60px;
	top:18px;
}
.e209_291 { 
	color:rgba(255, 255, 255, 1);
	width:1858px;
	height:58px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Nunito;
	text-align:left;
	font-size:35px;
	letter-spacing:0;
}
.e209_292 { 
	color:rgba(255, 255, 255, 1);
	width:1429px;
	height:614px;
	position:absolute;
	left:431px;
	top:381px;
	font-family:Nunito;
	text-align:left;
	font-size:44px;
	letter-spacing:0;
}
.e209_293 { 
	width:370px;
	height:145px;
	position:absolute;
	left:48px;
	top:850px;
}
.e209_294 { 
	background-color:rgba(26.87009286135435, 22.604686841368675, 235.87500303983688, 0.699999988079071);
	width:351px;
	height:143px;
	position:absolute;
	left:10px;
	top:2px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.209_294 { 
	border:7px solid rgba(27.000000290572643, 23.000000528991222, 236.00000113248825, 1);
}
.e209_295 { 
	color:rgba(255, 255, 255, 1);
	width:260px;
	height:81px;
	position:absolute;
	left:110px;
	top:33px;
	font-family:Nunito;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e209_296 { 
	width:143px;
	height:143px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(../static/previous_icon.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e209_302 { 
	width:417px;
	height:505px;
	position:absolute;
	left:19px;
	top:288px;
}
.e209_303 { 
	background-color:rgba(206.0000029206276, 224.000001847744, 0, 0.699999988079071);
	width:405px;
	height:423px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:500px;
	border-top-right-radius:500px;
	border-bottom-left-radius:500px;
	border-bottom-right-radius:500px;
}
.e209_304 { 
	width:360px;
	height:375px;
	position:absolute;
	left:22px;
	top:23px;
	border-top-left-radius:500px;
	border-top-right-radius:500px;
	border-bottom-left-radius:500px;
	border-bottom-right-radius:500px;
	background-image:url(../static/_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e209_305 { 
	background-color:rgba(206.25250697135925, 224.18749898672104, 0, 1);
	width:407px;
	height:75px;
	position:absolute;
	left:10px;
	top:430px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.e209_306 { 
	color:rgba(255, 255, 255, 1);
	width:341px;
	height:50px;
	position:absolute;
	left:41px;
	top:440px;
	font-family:Nunito;
	text-align:left;
	font-size:42px;
	letter-spacing:0;
}
.209_308 { 
	overflow:hidden;
}
.e209_308 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:1080px;
	position:absolute;
}
.e209_309 { 
	width:1920px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
}
.e209_310 { 
	width:1920px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(../static/rectangle_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e209_311 { 
	background-color:rgba(28.000000230968, 21.000000648200512, 211.00000262260437, 0.699999988079071);
	width:1920px;
	height:95px;
	position:absolute;
	left:0px;
	top:0px;
}
.e209_312 { 
	width:1858px;
	height:881px;
	position:absolute;
	left:60px;
	top:18px;
}
.e209_313 { 
	color:rgba(255, 255, 255, 1);
	width:1858px;
	height:58px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Nunito;
	text-align:left;
	font-size:35px;
	letter-spacing:0;
}
.e209_314 { 
	color:rgba(255, 255, 255, 1);
	width:1429px;
	height:557px;
	position:absolute;
	left:397px;
	top:324px;
	font-family:Nunito;
	text-align:left;
	font-size:44px;
	letter-spacing:0;
}
.e209_315 { 
	width:370px;
	height:145px;
	position:absolute;
	left:48px;
	top:850px;
}
.e209_316 { 
	background-color:rgba(26.87009286135435, 22.604686841368675, 235.87500303983688, 0.699999988079071);
	width:351px;
	height:143px;
	position:absolute;
	left:10px;
	top:2px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.209_316 { 
	border:7px solid rgba(27.000000290572643, 23.000000528991222, 236.00000113248825, 1);
}
.e209_317 { 
	color:rgba(255, 255, 255, 1);
	width:260px;
	height:81px;
	position:absolute;
	left:110px;
	top:33px;
	font-family:Nunito;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e209_318 { 
	width:143px;
	height:143px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(../static/previous_icon.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e209_324 { 
	width:417px;
	height:505px;
	position:absolute;
	left:19px;
	top:288px;
}
.e209_325 { 
	background-color:rgba(100.00000163912773, 13.000000175088644, 242.00000077486038, 0.699999988079071);
	width:405px;
	height:423px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:500px;
	border-top-right-radius:500px;
	border-bottom-left-radius:500px;
	border-bottom-right-radius:500px;
}
.e209_326 { 
	width:360px;
	height:375px;
	position:absolute;
	left:22px;
	top:23px;
	border-top-left-radius:500px;
	border-top-right-radius:500px;
	border-bottom-left-radius:500px;
	border-bottom-right-radius:500px;
	background-image:url(../static/rectangle_15.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e209_327 { 
	background-color:rgba(100.19056141376495, 13.121874835342169, 242.24999696016312, 1);
	width:407px;
	height:75px;
	position:absolute;
	left:10px;
	top:430px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.e209_328 { 
	color:rgba(255, 255, 255, 1);
	width:199px;
	height:50px;
	position:absolute;
	left:114px;
	top:442px;
	font-family:Nunito;
	text-align:left;
	font-size:45px;
	letter-spacing:0;
}
