<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>Html Generado</title>
    <meta name="description" content="Figma htmlGenerator">
    <meta name="Jose Camargo, Antony Yeguez, Greeberth Linares" content="htmlGenerator">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Outfit&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        body {background: #E5E5E5; }
        a {
            text-decoration: none; /* Esto elimina el subrayado de los enlaces */
            color: white; /* Cambia el color de las letras a blanco */
        }
        span.e1_5 {
            text-align: center;
            display: block;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <div class="e8_3">
        <div class="e1_17">
            <div class="e3_2"></div>
            <div class="e1_4"></div>
            <div class="e1_10"></div>
            <div class="e203_3"></div>
            <div class="e1_12"></div>
            <div class="e3_3"></div>
            <div class="e9_8"></div>
            <div class="e203_2"></div>
            <div class="e9_9"></div>
            <div class="e9_21">
                <span class="e1_5"><a href="{{ url_for('remedies') }}">See the Remedies</a></span>
                <span class="e1_8">Free Head</span>
                <span class="e3_16">It is important to know how to get rid of headaches without pills or in a natural way so that you do not have to constantly resort to medication.</span>
                <span class="e1_7">Here are the best home remedies for headaches.</span>
                <span class="e1_13"><a href="{{ url_for('login') }}">Login</a></span>
                <span class="e9_5"><a href="{{ url_for('about') }}">About Us</a></span>
                <span class="e9_7"><a href="{{ url_for('contact') }}">Contact</a></span>
                <span class="e1_16"><a href="{{ url_for('register') }}">Register</a></span>
            </div>
        </div>
    </div>
    <!-- Agrega enlaces a las páginas correspondientes en los atributos href de los enlaces. -->
</body>
</html>

