<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Login</title>
    <meta name="description" content="Login page">
    <meta name="Jose Camargo, Antony Yeguez, Greeberth Linares" content="Your name">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Outfit&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <style>
        body { background: #673ab7; font-family: 'Nunito', sans-serif; color: #fff; }
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
            background: #3f51b5;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }
        .home-button {
            margin-left: 0;
            text-align: left;
            margin-bottom: 10px;
        }
        h1 {
            text-align: center;
            font-family: 'Outfit', sans-serif;
            color: #fff;
        }
        input[type="text"], input[type="password"] {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #9c27b0;
            border-radius: 5px;
        }
        input[type="submit"] {
            width: 100%;
            padding: 10px;
            background: #673ab7;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        a {
            text-decoration: none;
            color: #fff;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <a class="home-button" href="{{ url_for('index') }}">Home</a>
    <div class="container">
        <h1>Login</h1>
        <form action="{{ url_for('login') }}" method="POST">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <input type="submit" value="Log In">
        </form>
        <p>Don't have an account? <a href="{{ url_for('register') }}">Sign up</a></p>
    </div>
</body>
</html>


