<html lang="en">
  <head>
    <meta charset="utf-8">
  
    <title>Html Generated</title>
    <meta name="description" content="Figma htmlGenerator">
    <meta name="Jose Camargo, Antony Yeguez, Greeberth Linares" content="htmlGenerator">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    
    <style>
      /*
        Figma Background for illustrative/preview purposes only.
        You can remove this style tag with no consequence
      */
      body {background: #E5E5E5; }
    </style>
  
  </head>
  
  <body>
    <div class="e209_197">
      <div class="e209_198">
        <div class="e209_199"></div>
        <div class="e209_200"></div>
        <div class="e209_201">
          <span class="e209_202">When you have a headache, drinking beverages containing caffeine, such as tea or coffee, can provide relief.</span>
          <span class="e209_203">Caffeine improves mood, increases alertness, and constricts blood vessels, all of which can have a positive effect on headache symptoms. It also helps increase the effectiveness of common medications used to treat headaches, such as ibuprofen and acetaminophen. However, it has also been shown that if a person regularly consumes large amounts of caffeine and suddenly stops, caffeine withdrawal can cause headaches. Therefore, people who suffer from frequent headaches should consider their caffeine intake.</span>
        </div>
        <div class="e209_204">
          <div class="e209_205"></div>
          <a href="{{ url_for('second_page') }}"><span class="e209_206">Previous</span></a>
          <div class="e209_207"></div>
        </div>
      </div>
      <div class="e209_213">
        <div class="e209_214"></div>
        <div class="e209_215"></div>
        <div class="e209_216"></div>
        <span class="e209_217">Drink caffeinated</span>
      </div>
    </div>
  </body>
</html>
