<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Html Generated</title>
    <meta name="description" content="Figma htmlGenerator">
    <meta name="Jose Camargo, Antony Yeguez, Greeberth Linares" content="htmlGenerator">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        body {background: #E5E5E5; }
    </style>
</head>
<body>
    <div class="e17_124">
        <div class="e17_125">
            <div class="e17_126"></div>
            <div class="e17_127"></div>
            <div class="e17_128">
                <span class="e17_129">Choose with a click the home remedy you want to be informed about.</span>
            </div>
        </div>
        <div class="e17_130">
            <div class="e203_4"></div>
            <div class="e203_5"></div>
            <div class="e17_135"></div>
            <span class="e17_136"><a href="{{ url_for('first_article') }}" style="text-decoration: none; color: inherit;">Types of headaches</a></span>
        </div>
        <div class="e204_9">
            <div class="e204_10"></div>
            <div class="e204_11"></div>
            <div class="e204_29"></div>
            <div class="e204_12"></div>
            <span class="e204_13"><a href="{{ url_for('second_article') }}" style="text-decoration: none; color: inherit;">Drinking water</a></span>
        </div>
        <div class="e204_14">
            <div class="e204_15"></div>
            <div class="e204_16"></div>
            <div class="e204_17"></div>
            <span class="e204_18"><a href="{{ url_for('third_article') }}" style="text-decoration: none; color: inherit;">Taking magnesium</a></span>
        </div>
        <div class="e204_19">
            <div class="e204_20"></div>
            <div class="e204_21"></div>
            <div class="e204_22"></div>
            <span class="e204_23"><a href="{{ url_for('four_article') }}" style="text-decoration: none; color: inherit;">Get enough sleep</a></span>
        </div>
        <div class="e17_172">
            <div class="e17_173"></div>
            <span class="e17_174"><a href="{{ url_for('second_page') }}" id="home-link" style="text-decoration: none; color: inherit;">Next</a></span>

            <div class="e17_175"></div>
        </div>
        <div class="e17_180">
            <div class="e17_181"></div>
            <span class="e17_182"><a href="{{ url_for('logueado') }}" id="home-link" style="text-decoration: none; color: inherit;">Home</a></span>
            <div class="e17_183"></div>
        </div>
    </div>
</body>
</html>
