<html lang="en">
  <head>
    <meta charset="utf-8">
  
    <title>Html Generated</title>
    <meta name="description" content="Figma htmlGenerator">
    <meta name="Jose Camargo, Antony Yeguez, Greeberth Linares" content="htmlGenerator">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    
    <style>
      /*
        Figma Background for illustrative/preview purposes only.
        You can remove this style tag with no consequence
      */
      body {background: #E5E5E5; }
    </style>
  
  </head>
  
  <body>
    <div class="e209_112">
      <div class="e209_113">
        <div class="e209_114"></div>
        <div class="e209_115"></div>
        <div class="e209_116">
          <span class="e209_117">Interestingly, magnesium has also been shown to be a safe and effective remedy for headaches.</span>
          <span class="e209_118">There is evidence to suggest that magnesium deficiency is more common in people who have frequent migraine headaches compared to those who do not. Studies showed that treatment with 600 mg of magnesium citrate by mouth daily helped reduce both the frequency and intensity of migraines. Taking magnesium supplements, however, can cause digestive side effects such as diarrhea in some people, so it is best to start with a lower dose to treat headache symptoms.</span>
        </div>
        <div class="e209_119">
          <div class="e209_120"></div>
          <a href="{{ url_for('remedies') }}"><span class="e209_121">Previous</span></a>
          <div class="e209_122"></div>
        </div>
      </div>
      <div class="e209_129">
        <div class="e209_130"></div>
        <div class="e209_131"></div>
        <div class="e209_132"></div>
        <span class="e209_133">Taking magnesium</span>
      </div>
    </div>
  </body>
</html>
