<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Html Generated</title>
    <meta name="description" content="Figma htmlGenerator">
    <meta name="Jose Camargo, Antony Yeguez, Greeberth Linares" content="htmlGenerator">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        /*
            Figma Background for illustrative/preview purposes only.
            You can remove this style tag with no consequence
        */
        body {background: #E5E5E5; }

        /* Eliminar las líneas decorativas debajo de las palabras */
        a {
            text-decoration: none;
        }
    </style>
</head>
<body>
    <div class=e206_30>
        <div class=e206_31>
            <div class="e206_32"></div>
            <div class="e206_33"></div>
            <div class=e206_34>
                <span class="e206_35">Choose with a click the home remedy you want to be informed about.</span>
            </div>
        </div>
        <div class=e208_4>
            <div class="e208_5"></div>
            <div class="e208_6"></div>
            <div class=e208_7>
                <span class="e208_8">Choose with a click the home remedy you want to be informed about.</span>
            </div>
        </div>
        <div class=e206_36>
            <div class="e206_37"></div>
            <div class="e206_38"></div>
            <div class="e206_39"></div>
            <a href="{{ url_for('first_article2') }}" class="e206_40">Try taking vitamin B</a>
        </div>
        <div class=e206_41>
            <div class="e206_42"></div>
            <div class="e206_44"></div>
            <div class="e206_45"></div>
            <a href="{{ url_for('second_article2') }}" class="e206_46">Try an elimination diet</a>
        </div>
        <div class=e206_47>
            <div class="e206_48"></div>
            <div class="e206_49"></div>
            <div class="e206_50"></div>
            <a href="{{ url_for('third_article2') }}" class="e206_51">Drink caffeinated</a>
        </div>
        <div class=e206_52>
            <div class="e206_53"></div>
            <div class="e206_54"></div>
            <div class="e206_55"></div>
            <a href="{{ url_for('four_article2') }}" class="e206_56">Avoid strong odors</a>
        </div>
        <div class=e206_57>
            <div class="e206_58"></div>
            <a href="{{ url_for('third_page') }}" class="e206_59">Next</a>
            <div class="e206_60"></div>
        </div>
        <div class=e206_61>
            <div class="e206_62"></div>
            <a href="{{ url_for('logueado') }}"class="e206_63">Home</a></span>
            <div class="e206_64"></div>
        </div>
        <div class=e206_65>
            <div class="e208_3"></div>
            <a href="{{ url_for('remedies') }}" class="e206_67">Previous</a>
            <div class="e206_68"></div>
        </div>
    </div>
</body>
</html>
