<html lang="en">
  <head>
    <meta charset="utf-8">
  
    <title>Html Generated</title>
    <meta name="description" content="Figma htmlGenerator">
    <meta name="Jose Camargo, Antony Yeguez, Greeberth Linares" content="htmlGenerator">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    
    <style>
      /*
        Figma Background for illustrative/preview purposes only.
        You can remove this style tag with no consequence
      */
      body {background: #E5E5E5; }
    </style>
  
  </head>
  
  <body>
    <div class="e208_90">
      <div class="e208_91">
        <div class="e208_92"></div>
        <div class="e208_93"></div>
        <div class="e208_94">
          <span class="e208_95">Drink more fluids in hot weather or when you exercise.</span>
          <span class="e208_96">Poor hydration can give you a headache. In fact, studies have shown that chronic dehydration is a common cause of tension headaches and migraines. Fortunately, drinking water has been shown to relieve headache symptoms within 30 minutes to three hours in most people suffering from dehydration. In addition, dehydration can affect concentration and cause irritability, which makes your symptoms seem even worse. To help avoid dehydration headaches, you should focus on drinking enough water throughout the day and eating foods with high water content.</span>
        </div>
        <div class="e208_97">
          <div class="e208_98"></div>
          <a href="{{ url_for('remedies') }}"><span class="e208_99">Previous</span></a>
          <div class="e208_100"></div>
        </div>
      </div>
      <div class="e209_106">
        <div class="e209_107"></div>
        <div class="e209_108"></div>
        <div class="e209_109"></div>
        <div class="e209_110"></div>
        <span class="e209_111">Drinking water</span>
      </div>
    </div>
  </body>
</html>
17:05 12/10/2023